DirectoryIndex index.php

RewriteEngine on
#RewriteRule ^([a-zA-Z0-9_\-]*)?/?$ index.php?&page=$1&%{QUERY_STRING}

RewriteRule ^home$ index.php?page=home
RewriteRule ^le-groupe$ index.php?page=le-groupe
RewriteRule ^contact$ index.php?page=contact
RewriteRule ^gallerie$ index.php?page=gallerie
RewriteRule ^a-propos$ index.php?page=a-propos
RewriteRule ^activites$ index.php?page=activites

RewriteRule ^test$ index.php?page=test



